body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: black;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: auto;
    position: absolute;
    right: 20px;
    top: 20px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #22729b;
    color: white;
    padding: 20px 0;
    text-align: center;
}